.body {
    background-color: #4997b1;
}

.rounded {
    border-radius: 1vw;    
}

.container {
    background-color: #4997b1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    row-gap: 5vh;
    padding-top: 25vh;
}

.block{
    height: 10vh;
    width: 15vw;    
    display: flex;
    align-items: center;
    justify-content: center;     
}

.btn{
    border: none;
    box-shadow: 0 1vh 0vh -0.2vh #b1b1b1;
    cursor: pointer;
    outline: none;
}

.btn:hover{
    background-color: #1e6c86;
    color: #add8e6;
}

.btn:active{
    box-shadow: 0 0.5vh #7a7a7a;
    transform: translateY(0.5vh);
}

.colorCobaltBlue {
    background-color: #add8e6;
}

.colorGray {
    background-color: #b8b8b8;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: #4997b1;
}

#my_file {
    display: none;
}

.divArquivo {
    padding-bottom: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.parent-list li {
    width: 20vw;
    padding: 1vw;
    background: #3371ab;
    font-size: 2.5vh;
    transition: 0.2s;
}

.parent-list li:nth-child(odd) {
    background: #56adff;
}

.child-list li {
    padding: 1vw 1vw 1vw 0vw;
    background: #7b7b7b;
    font-size: 2.0vh;
    transition: 0.2s;
}

.child-list li div {
    padding-left: 0.25vw;
}

.child-list li:nth-child(odd) {
    background: #acacac;
}

.spanClose {
    cursor: pointer;
    padding: 0.5vw 0.75vw;
}

.spanClose:hover {
    background-color: #f44336;
    color: white;
}