body {
    background-color: #6495ED;
}

.rounded {
    border-radius: 1vw;    
}

div.block{
    height: 10vh;
    width: 15vw;
    text-align: center;    
}

div.block p {
    display: inline;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

.bgColorCobaltBlue {
    background-color: #0047AB;
}